@import 'Utils/styleVariables.scss';

div.custom-navbar {
    nav {
        background-color: $backgroundColor;
        box-shadow: $boxShadow;
    }

    a, span {
        border-radius: 4px;
        color: $textColor !important;
        background-color: $backgroundColor;
    }

    a:hover, a.dropdown-item:hover {
        background-color: $backgroundHoverColor;
    }

    a.dropdown-item, .dropdown-menu {
        background-color: $backgroundColor2;
    }

    .dropdown-menu {
        margin: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}