@import 'utils/styleVariables.scss';

div.App {
    font-family: 'Righteous';

    a {
        color: $textColor;
        text-decoration: none;
    }

    a:hover {
        color: $hoverColor;
    }

    hr {
        border-color: $textColor;
        opacity: 0.7;
    }
}