@import 'Utils/styleVariables.scss';

div.App {
    font-family: 'Righteous';

    a {
        color: $anchorColor;
        text-decoration: none;
    }

    a:hover {
        color: $hoverColor;
    }

    hr {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        border-color: $textColor;
        opacity: 0.7;
    }

    pre {
        color: $textColor;
        margin-bottom: 0px;
    }

    :focus {
        outline: none;
    }
}